@import "../../sass/variables";
@import "../../sass/mixins";

.destination {
  width: 100%;
  height: 100%;
  background-image: url("/images/destination/background-destination-desktop.jpg");
  background-size: cover;
  color: white;

  display: flex;

  @include respond(tab-land) {
    background-image: url(images/destination/background-destination-tablet.jpg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @include respond(phone) {
    background-image: url(images/destination/background-destination-mobile.jpg);
  }

  &__content {
    flex: 0 0 40%;
    margin-top: 10rem;
    margin-left: 15%;

    @include respond(tab-land) {
      margin-left: 0;
    }
  }

  &__content-title-box {
    width: 100%;
    margin-bottom: 3rem;
  }

  &__content-title {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 300;
    font-family: $font-family-tertiary;
    letter-spacing: 0.2rem;

    @include respond(tab-land) {
      display: none;
    }
  }

  &__content-number {
    color: $clr-secondary;
    font-family: $font-family-secondary;
    letter-spacing: 0.5rem;

    margin-right: 1rem;
  }

  &__img {
    @include respond(tab-land) {
      width: 25rem;
    }
  }

  &__info {
    flex: 0 0 30%;
    margin-top: 12rem;

    @include respond(tab-land) {
      margin-top: 1rem;
      width: 50%;
      margin-bottom: 10rem;
    }

    @include respond(phone) {
      width: 25rem;
    }
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;

    @include respond(tab-land) {
      justify-content: center;
    }
  }
  &__item {
    padding: 0.5rem 0;
    color: $clr-secondary;
    border-bottom: 0.2rem transparent solid;
    cursor: pointer;

    &--selected {
      color: $clr-primary;
      border-bottom: 0.2rem $clr-primary solid;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: currentColor;
    font-family: $font-family-secondary;
  }

  &__name {
    text-transform: uppercase;
    font-size: 5.4rem;
    font-family: $font-family-primary;
    margin: 1rem 0;
    letter-spacing: 0.3rem;
  }

  &__description {
    font-size: 1.2rem;
    font-family: $font-family-secondary;
    color: $clr-secondary;
    line-height: 1.5;
    margin-bottom: 3rem;
  }

  &__detail-box {
    display: flex;
    align-items: center;
    gap: 5rem;
    border-top: 0.1rem rgba($clr-secondary, 0.2) solid;

    @include respond(tab-land) {
      justify-content: center;
    }
  }

  &__detail {
    padding-top: 0.8rem;
  }
  &__detail-title {
    font-size: 0.9rem;
    font-family: $font-family-tertiary;
    font-weight: 500;
    color: $clr-secondary;
  }
  &__detail-value {
    text-transform: uppercase;
    margin: 0;
    font-size: 2.2rem;
    font-weight: 300;
    font-family: $font-family-primary;
  }
}
