@import "./variables";
@import "../sass/mixins";

.title {
  text-transform: uppercase;
  line-height: 0.2;

  &--primary {
    color: $clr-primary;
    font-size: 10rem;
    font-weight: 300;
    font-family: $font-family-primary;
  }

  &--secondary {
    color: $clr-secondary;
    letter-spacing: 0.3rem;
    font-size: 1rem;
    font-weight: 300;
    font-family: $font-family-secondary;
  }
}

.paragraph {
  color: $clr-secondary;
  text-align: justify;
  line-height: 2;
  font-size: 1.2rem;

  @include respond(tab-land) {
    text-align: center;
  }
}
