@import "../../sass/variables";

.home {
  width: 100%;
  height: 100%;
  background-image: url(../../images/home/background-home-desktop.jpg);
  background-size: cover;
  display: flex;

  &__content {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 5rem;
  }

  &__text-box {
    padding: 1.5rem;
    width: 28rem;
    margin-left: 5rem;
  }

  &__mark-box {
    flex: 1;
    position: relative;
  }

  &__mark {
    font-family: $font-family-primary;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2rem;
    position: absolute;
    z-index: 300;

    color: rgb(0, 0, 35);
    text-align: center;
    width: 10rem;

    right: 30%;
    bottom: 30%;

    &:after {
      content: "";
      position: absolute;
      background-color: $clr-primary;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 15rem;
      height: 15rem;
      z-index: -1;
    }
  }
}
